header {
    @include transition(all, 1s);

    font-family: $font;
    text-align: center;
    background: $mint-dark;
    color: white;
    .container {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 780px;
    }
    img {
        
        display: block;
        margin: 0 auto 20px;        
    }
    .intro-text {
        @include transition(all, 1s);        
        .name {
            display: block;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2em;
        }
        .skills {
            font-size: 1.25em;
            font-weight: 300;
        }
        &.ng-hide-remove, &.ng-hide-add {
            @include transition(all, 1s);
            display:block!important;            
            @include bounceInLeft();
        }
        &.ng-hide-remove-active, &.ng-hide-add-active{
            @include transition(all, 1s);
            display:block!important;            
            opacity:1;
        }
    }
}

body {
    font-family: $font;
    #masterView {
        @include transition(all, 1s);
        .aboutme {
            .projects{
                color: $lightgray-dark;
                background: $darkgray-dark;
                .container {
                    padding-top: 20px;
                    padding-bottom: 20px;
                 }
            }
        }
    }
}

footer {
    font-family: $font;
    color: $lightgray-light;
    h3 {
        margin-bottom: 30px;
    }
    .footer-above {
        padding-top: 50px;
        background-color: #2c3e50;
    }
    .footer-col {
        margin-bottom: 50px;
    }
    .footer-below {
        padding: 25px 0;
        background-color: #233140;
    }
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
