<!-- Header -->
<header id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pull-right">
                    <button class="btn btn-default" ng-model="language" btn-radio="'es'" ng-click="changeLanguage('es')" translate="BUTTON_TEXT_ES" ng-hide="$translate.use() == 'es'"></button>
                    <button class="btn btn-default" ng-model="language" btn-radio="'en'" ng-click="changeLanguage('en')" translate="BUTTON_TEXT_EN" ng-hide="$translate.use() == 'en'"></button>
                </div>
                <img class="img-responsive img-circle" src="/assets/images/me.jpg" alt="" height="470" width="470">
                <div class="intro-text" ng-show="showName">
                    <span class="name">{{'MAIN_AAA'| translate}}</span>
                    <hr class="star-light">
                    <span class="skills">{{'MAIN_SKILLS'| translate}}</span>
                    <div>
                        <button class="btn btn-default" scroll-to="aboutme">{{'MAIN_MORE_ABOUT_ME'| translate}}</button>
                        <button class="btn btn-default" scroll-to="contacttome">{{'MAIN_CONTACT_WITH_ME'| translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div ng-include="'components/navbar/navbar.html'" ng-controller="NavbarCtrl"></div>

<section class="aboutme">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 id="aboutme">{{'ABOUT_ME' | translate }}</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <img src="/assets/images/nature.jpg" class="img pull-right" height="300" width="300">{{'MAIN_LOREM' | translate }}>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>{{'ABOUT_ME_SKILLS'|translate}}</h3>
                <div data-ng-repeat="skill in skills">
                    <h4 class="heading-progress">{{ skill.title | translate }}
                        <span class="pull-right">{{skill.percentage}}%</span>
                    </h4>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{skill.percentage}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{skill.percentage}}" role="progressbar">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" ng-include="'components/twitter/twitter.html'"></div>
        </div>
    </div>
    <div class="projects">
        <div class="container">
            <div class="col-lg-12">
                <h3>{{'ABOUT_ME_DO_YOU_HAVE_PROJECTS'|translate}}</h3>
                <button class="btn btn-primary" scroll-to="contacttome">{{'ABOUT_ME_LETS_TALK'| translate}}</button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 id="whatido">{{ 'WHAT_I_DO' | translate }}</h2>
            <hr class="star-light">
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <img src="/assets/images/technics.jpg" class="img-circle pull-right" height="300" width="300">{{'MAIN_LOREM' | translate }}
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 id="mywork">{{'MY_WORK' | translate}}</h2>
            <hr class="star-light">
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <img src="/assets/images/business.jpg" class="img-circle pull-right" height="300" width="300">{{'MAIN_LOREM' | translate }}
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 id="contacttome">{{ 'MAIN_CONTACT_WITH_ME' | translate }}</h2>
            <hr class="star-light">
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <img src="/assets/images/city.jpg" class="img-circle pull-right" height="300" width="300">{{'MAIN_LOREM' | translate }}
            </div>
        </div>
    </div>
</section>

<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-6">
                    <h3>{{ 'FOOTER_LOCATION' | translate }}</h3>
                    <img src="/assets/images/badalona.jpg" class="img-circle" height="250" width="250">
                    <p>{{'FOOTER_CITY' | translate }}</p>
                </div>
                <div class="footer-col col-md-6">
                    <h3>{{ 'FOOTER_AROUND' | translate }}</h3>
                    <ul class="list-inline">
                        <li>
                            <a target="_blank" href="//plus.google.com/+AbrahamAlcaina" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="//twitter.com/AbrahamAlcaina" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="//www.linkedin.com/in/abrahamalcaina" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="//github.com/AbrahamAlcaina" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Abraham Alcaina I/O =) 2014
                </div>
            </div>
        </div>
    </div>
</footer>
